<form [formGroup]="resetForm" (ngSubmit)="onChange()">
    <input type="text" placeholder="enter new password" formControlName="password" >
    <p *ngIf=" resetForm.controls['password'].dirty && resetForm.controls['password'].hasError('required')">enter a password</p>
    <input type="text" placeholder="enter again password" formControlName="repeatPassword">
    <p *ngIf=" resetForm.controls['repeatPassword'].dirty && resetForm.controls['repeatPassword'].hasError('required')">enter a password</p>
    <p *ngIf="resetForm.controls['repeatPassword'].dirty && resetForm.hasError('NotEqualValidator')">password must be same</p>
    <button [disabled]="!resetForm.valid">change</button>
</form>