<div class="password-form-container">
  <form [formGroup]="passwordData">
    <div class="form-element">
      <label for="old" class="label">Old Password</label>
      <input
        type="password"
        id="old"
        placeholder="Enter old password"
        class="input-field"
        formControlName="oldPassword"
      />
      <p class="err" *ngIf="oldPass.dirty && oldPass.hasError('required')">
        required
      </p>
    </div>
    <div class="form-element">
      <label for="new" class="label">New Password</label>
      <input
        type="password"
        id="new"
        placeholder="Enter new password"
        class="input-field"
        formControlNamenewPassword
      />
      <p class="err" *ngIf="newPass.dirty && newPass.hasError('required')">
        required
      </p>
    </div>
    <p class="err" *ngIf="passwordData.hasError('equal')">
      should not be equal
    </p>
    <button type="submit" class="submit-button">Submit</button>
  </form>
</div>
